
#product-container {
    height: 100%;
    width: 100%;
}

#product-container .hat-container {
    display: flex;
    height: 100%;
    width: 90vw;
    padding: 0 1.5rem;
}

#product-container .hat img {
    position: relative;
}

/*OVERALL PRODUCT CONTAINERS*/
#product-container .hat-container .hat .top-product-container,
#product-container .hat-container .hat .left-product-container,
#product-container .hat-container .hat .right-product-container {
    margin-left: 10%;
}

#product-container .hat-container .hat .top-product-container,
#product-container .hat-container .hat .left-product-container,
#product-container .hat-container .hat .right-product-container,
#product-container .hat-container .hat .bottom-product-container,
#product-container .hat-container .hat .bottom-brim-product-container {
    opacity: 0;
}

/*TOP PRODUCT CONTAINER*/
#product-container .hat-container .hat .top-product-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1.5%; /*12%*/
}

#product-container .hat-container .hat .top-product-container img {
    width: 20%;
}

#product-container .hat-container .hat .top-product-container #HAT-BUTTON {
    width: 10%;
    margin-bottom: 10%;
}

#product-container .hat-container .hat .top-product-container #HAT-BADGE {
    margin-left: -50%;
}

/*BOTTOM PRODUCT CONTAINER*/
#product-container .hat-container .hat .bottom-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -10.5%; /*0*/
}

#product-container .hat-container .hat .bottom-product-container #HAT-BRIM {
    margin-left: -30%;
    width: 80%;
    top: -34%
}

#product-container .hat-container .hat .bottom-product-container #HAT-LEFT-PANEL {
    margin-top: -23%;
    margin-left: 42%;
    width: 46%;
}

/*LEFT PRODUCT-CONTAINER*/
#product-container .hat-container .hat .left-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 33.5%; /*23%*/
}

#product-container .hat-container .hat .left-product-container #HAT-FRONT-LEFT {
    margin-left: -17%;
    margin-top: -50%;
    width: 50%;
}

/*RIGHT PRODUCT-CONTAINER*/
#product-container .hat-container .hat .right-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 23%;
    left: -10.5%;
}

#product-container .hat-container .hat .right-product-container #HAT-FRONT-RIGHT {
    margin-left: -50%;
    margin-top: -55%;
    width: 51%;
}

/*BRIM PRODUCT-CONTAINER*/
#product-container .hat-container .hat .bottom-brim-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10.5%; /*-21%*/
}

#product-container .hat-container .hat .bottom-brim-product-container #HAT-BRIM {
    margin-left: -27%;
    width: 80%;
}

/*HAT VARIANTS*/
#product-container .hat-container .hat-variants {
    display: flex;
}

#product-container .hat-container .hat-variants img {
    width: 40%;
}

/*DESCRIPTION*/
#product-container .hat-container .description p {
    color: #fff;
    font-style: italic;
    font-size: x-large;
}

@media only screen and (min-width: 320px) and (max-width: 690px) {
    #product-container .hat-container {
        flex-direction: column;
    }
}

@media only screen and (min-width: 691px) and (max-width: 1024px) {
    #product-container .hat-container {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 2000px) {
    #product-container .hat-container {
        flex-direction: row;
    }
}