#thousand-jacket-container {
    height: auto;
    width: 100%;
}

#thousand-jacket-container canvas {
    width: 80%;
    height: 100vh;
}

#thousand-jacket-container .description p {
    color: #fff;
    font-style: italic;
    font-size: x-large;
    padding: 1.5rem;
}