#embroidery-conainer {
    height: 100%;
    width: 100%;
    text-align: center;
}

#embroidery-container .animation-container img {
    width: 100%;
    cursor: pointer;
}

#embroidery-container .description-container p {
    color: #fff;
    font-style: italic;
    font-size: x-large;
    text-align: center;
}

@media only screen and (min-width: 1024px) and (max-width: 2156px) {
    #embroidery-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #embroidery-container .animation-container img {
        width: 100%;
    }
}